*{
  font-family: 'Times New Roman', Times, serif;
}
.body {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	padding: 30px 30px;
	gap: 10px;
    justify-content: space-between;
  }
  
  .container {
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;
color: white;
  }
  
  .draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
    color: black;
  }
  
  .draggable.dragging {
    opacity: .5;
  }
  
  .container h1 {
    text-align: center;
  }
  .container h4 {
    text-align: center;
  }
  .draggable img {
    max-width: 50%;
  }
  .col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	padding: 30px 30px;
	gap: 10px;
    justify-content: space-between;
  }
  .text h1 {
    text-align: center;
  }

  